.aboutMe-container{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Rubik;        
    .aboutMe-wrapper{
        width: 60%;
        @include laptop{
            width: 80%;
        }
        @include tablet{
            width: 90%;              
        }
        @include mobile{
            width: 93%;              
        }
        
        h2{      
            margin-top: 7%;
        }
        .content{
            display: flex;
            gap: 35px;
            margin-top: 2%;
            padding: 0.5rem;
            border-radius: 16px;
            outline: 1px solid $greenColor;
            box-shadow: 0.2px 0.5px 10px rgba(0, 0, 0, 0.745);
            @include tablet{
                flex-direction: column-reverse;            
            }
            @include mobile{
                flex-direction: column-reverse; 
                gap: 25px; 
                margin-top: 5%;              
            }
            img{
                width: 250px;
                height: 250px;
                border-radius: 50%;
                transition: 0.5s;
                align-self: center;
                margin-right: 2rem;         
                cursor: pointer;
                filter: grayscale(1);
                &:hover{
                    border-radius: 15%;
                    scale: 1.03;
                    filter: grayscale(0);
                }
                @include laptop{
                    width: 210px;
                    height: 210px;                                        
                }
                @include tablet{
                    margin-top: 1rem;            
                }
                @include mobile{
                    margin-top: 1rem;
                    margin-right: 0;
                }
            }
            p{
                font-size: 1.6rem;
                padding-left: 2.5rem;
                padding-right: 2.5rem;
                padding-top: 1rem;
                padding-bottom: 1rem;
                @include laptop{
                    font-size: 1.3rem;
                    padding-left: 2rem;
                    padding-right: 2rem;
                }
                @include tablet{
                    font-size: 1.4rem;
                    text-align: center;
                    margin-top: 0;
                    padding-top: 0;
                    padding-bottom: 0;
                }
                @include mobile{                 
                    font-size: 1.3rem; 
                    text-align: center;
                    padding-left: 0.3rem;
                    padding-right: 0.3rem;    
                }
            }
        }
    }
}