.aboutMe-container{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Rubik;        
    .aboutMe-wrapper{
        width: 60%;
        @include mobile{
            width: 100%;              
        }
        @include tablet{
            width: 90%;              
        }
        h2{      
            margin-top: 7%;
        }
        .content{
            display: flex;
            gap: 35px;
            @include mobile{
                flex-direction: column-reverse; 
                gap: 25px;               
            }
            img{
                width: 250px;
                height: 250px;
                border-radius: 50%;
                transition: 0.5s;
                align-self: center;         
                cursor: pointer;
                &:hover{
                    border-radius: 15%;
                    scale: 1.03;
                }
                @include laptop{
                    width: 210px;
                    height: 210px;
                    align-self: center;
                    margin-bottom: 3rem;                         
                }
                @include tablet{
                    margin-bottom: 2.5rem;             
                }
            }
            p{
                font-size: 1.6rem;
                padding-left: 2.5rem;
                padding-right: 2.5rem;
                padding-top: 0.3rem;
                @include laptop{
                    font-size: 1.3rem;
                    padding: 0;
                }
                @include tablet{
                    font-size: 1.4rem;
                    padding: 0;
                }
                @include mobile{
                    text-align: center;
                    font-size: 1.3rem; 
                    padding-right: 1.8rem;
                    padding-left: 1.8rem;
                    padding-top: 0;            
                }
            }
        }
    }
}