.carousel-container{
    position: relative;
    background-color: $greenColor;
    .info{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        user-select: none;
        top: 18%;
        left: 50%;
        z-index: 2;
        transform: translateX(-50%);
        color: white;
        text-align: center;
        width: 100%;
        @include laptop{
            top: 10%;
        }
        @include mobile{
            top: 13%;
            width: 80%;
        }
        img{       
            opacity: 0.8;
            margin-bottom: 0.3%;
            @include laptop{
                width: 22rem;
            }
            @include tablet{
                width: 23rem;
            }
            @include mobile{
                margin-bottom: 4%;
                width: 15rem;
            }
        }  
        h1{
            font-size: 3.5rem;
            margin-bottom: 0;
            @include mobile{
                font-size: 2.8rem;
            }
        }
        p{
            margin-top: 0;
            font-size: 1.9rem;
            font-weight: 600;
            @include mobile{
                font-size: 1.4rem;
                margin-bottom: 15px;
            }
        }
        button{
            background: transparent;
            color: white;
            padding: 5px 55px;
            outline: none;
            border: $greenColor 3.5px solid;
            border-radius: 25px;
            font-size: 1.6200rem;
            transition: 0.5s;
            margin-top: 0.5%;
            font-weight: 600;
            &:hover{
                background-color: $greenColor;
                color: $lightBlack;
                transform: scale(1.07);
            } 
            @include mobile{
                font-size: 1.3rem;
                padding: 5px 45px;
            }                
        }
    }
    .carousel{      
        width: 100%;
        height: 100vh;
        user-select: none;
        position: relative; 
        font-family: Rubik; 
        @include mobile{
            height: 100svh;
        }
        .carousel-control-next,.carousel-control-prev{
            z-index: 5;
        }              
        .carousel-item{           
            position: relative;
            height: 100vh; 
            @include mobile{
                height: 100svh;
            }                           
            img{           
                width: 100%;
                height: 100vh;
                object-fit: cover; 
                @include mobile{
                    height: 100svh;
                }                                          
            }                      
        }
    } 
}