.carousel-container{
    position: relative;
    background-color: $greenColor;
    .info{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        user-select: none;
        top: 40%;
        left: 50%;
        z-index: 2;
        color: white;
        text-align: center;
        width: 100%;  
        @include laptop{
            top: 35%;        
        }     
        @include mobile{        
            width: 70%;
            top: 35%;
        }     
        h1{
            font-size: 6.5rem;
            margin-bottom: 0;
            @include mobile{
                font-size: 4rem;
            }
        }
        p{
            margin-top: 0;
            font-size: 2.5rem;
            font-weight: 600;
            @include mobile{             
                text-wrap: nowrap;
                font-size: 1.3rem;
                margin-bottom: 15px;               
            }
        }
        button{
            position: relative;
            background: transparent;
            color: white;
            padding: 5px 55px;
            outline: none;
            border: $greenColor 3.5px solid;
            border-radius: 25px;
            font-size: 1.6200rem;
            transition: 0.5s;
            margin-top: 1%;
            font-weight: 600;
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 50%;
                right: 50%;
                border-radius: 18px;
                transition: 0.5s all ease;            
                bottom: 0;
                opacity: 0;            
                background-color: $greenColor;
                z-index: -2;
            }
            &:hover {
                &:before {
                  transition: 0.5s all ease;
                  left:0;
                  right:0;
                  opacity:1;
                }
            }
            &:hover{
                color: $lightBlack;
                transform: scale(1.07);
            } 
            @include mobile{
                font-size: 1.3rem;
                padding: 5px 45px;
            }                
        }
    }
    .carousel{      
        width: 100%;
        height: 100vh;
        user-select: none;
        position: relative; 
        font-family: Rubik; 
        @include mobile{
            height: 100svh;
        }
        .carousel-control-next,.carousel-control-prev{
            z-index: 5;
        }              
        .carousel-item{           
            position: relative;
            height: 100vh; 
            @include mobile{
                height: 100svh;
            }                           
            img{           
                width: 100%;
                height: 100vh;
                object-fit: cover; 
                @include mobile{
                    height: 100svh;
                }                                          
            }                      
        }
    } 
}