header{
    .hamburger{
        display: none;
        position: fixed;
        cursor: pointer;
        width: 40px;
        top: 1.5%;
        right: 3.5%;
        z-index: 999;
        @include mobile{
            display: inline-block;
        }  
    }
    .main-navbar.sticking{
        background-color: rgba($color: $greenColor, $alpha: 0.8500);
        color: black;
        margin-top: 0;
        box-shadow: 0.5px 1px 14px rgba(0, 0, 0, 0.5); 
        &:hover li{ color: black; }       
        &:hover li::after{ background: black; }           
    } 
    .main-navbar{
        position: fixed;
        display: block;
        z-index: 10;
        width: 100%;
        background-color: transparent;
        font-family: Rubik;   
        transition: 0.2s;
        color: white;
        margin-top: 0.5%;
        @include mobile{
            background-color: $greenColor;
            margin-top: 0;
            color: black;
        }
        @keyframes slideInFromAbove {
            0% { top: -100%; }         
            100% { top: 0%; }                         
        } 
        @keyframes slideInFromDown {
            0% { top: 0%; }          
            100% { top: -100%; }                        
        } 
        @include mobile{
            display: none;        
            box-shadow: 0.5px 0.5px 5px black;
        }
        ul{                       
            margin-top: 0;
            margin-bottom: 0;
            display: flex;
            list-style: none;
            gap: 0.8rem;        
            @include tablet{
                margin-left: 0;
                padding-left: 0;
                gap: 0.2rem;
            }
            @include mobile{ 
                flex-direction: column;           
                margin: 0;
                padding: 0;
                gap: 0.2700rem;                                     
            }                       
            li{              
                padding: 0.5rem;
                cursor: pointer;
                font-size: 1.7rem;
                transition: 0.5s;
                position: relative;
                &:hover { color: white; }                                 
                &::after{
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 5px;
                    height: 3px;
                    width: 100%;
                    background: white;
                    transition: all 0.4s;
                    pointer-events: none;
                    transform: scaleX(0);
                }
                &:hover::after { transform: scaleX(1); }           
                @include laptop { font-size: 1.4rem; }          
                @include tablet { font-size: 1.4rem; }                          
                @include mobile{
                    padding: 1px;                
                    text-align: center;
                    &:not(.navbar-logo){            
                        font-size: 1.2rem;
                    }                                 
                }  
                @media screen and (min-width: 482px) and (max-width: 880px){
                    font-size: 0.9rem;
                }
                &:last-child { margin-right: 1%;}                                                                 
            } 
            .navbar-logo{
                margin-right: auto;
                gap: 5px;              
                font-style: italic;
                font-weight: 500;                                                 
                @include mobile{  
                    margin-top: 2px;
                    margin-right: 0;                                                  
                    font-size: 1.3rem; 
                    text-align: center;     
                } 
            }                                       
        }
    }   
}