.my-products-container{
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Rubik;
    h4{     
        margin-bottom: 0;
        @include mobile{
            margin-top: 35px;          
        }
    }
    .my-products-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        margin-top: 0.3%;
        @include laptop{
            width: 90%;
        }
        @include tablet{
            width: 100%;
        }        
        @include mobile{
            width: 100%;
        }
        hr{ 
            width: 75%;
            @include laptop{
                width: 80%;
            }  
            @include tablet{
                width: 90%;
            }
            @include mobile{
                width: 100%;
            }                
        }
        .my-product{
            cursor:default;
            display: flex;  
            margin: 1.5rem auto;
            align-items:stretch;
            width: 75%; 
            transition: 0.5s; 
            border-radius: 16px;
            &:hover{
                transform: scale(1.0300);
                z-index: 100;   
                outline: 2px solid $greenColor;                
            } 
            &:hover:nth-child(2){              
                box-shadow: 0vh 35vh 10vh 20vh rgba(255, 255, 255, 0.705);
                @include laptop{
                    box-shadow: 0vh 55vh 10vh 20vh rgba(255, 255, 255, 0.705);
                }  
                @include mobile{
                    box-shadow: 4px 4px 32px rgba(0, 0, 0, 0.559);
                }                                           
            }  
            &:hover:nth-child(3){
                box-shadow: 0vh 4vh 15vh 25vh rgba(255, 255, 255, 0.705);
                @include laptop{
                    box-shadow: 0vh 0vh 15vh 40vh rgba(255, 255, 255, 0.705);
                }
                @include mobile{
                    box-shadow: 4px 4px 32px rgba(0, 0, 0, 0.559);
                }                    
            } 
            &:hover:nth-child(4){
                box-shadow: 0vh -25vh 10vh 20vh rgba(255, 255, 255, 0.705);
                @include laptop{
                    box-shadow: 0vh -53vh 10vh 20vh rgba(255, 255, 255, 0.705);
                }
                @include mobile{
                    box-shadow: 4px 4px 32px rgba(0, 0, 0, 0.559);
                }                    
            }         

            @include laptop{
                width: 80%;
            } 
            @include tablet{
                width: 90%;              
            }
            @include mobile{
                width: 90%;
                flex-direction: column;              
                box-shadow: 2px 2px 18px rgba(0, 0, 0, 0.559);
            }   
                
            &:nth-child(odd){
                div{
                    margin-left: 3%;
                }
                img{
                    &:hover{
                        rotate: 10deg;
                    }
                }

                @include mobile{                       
                    flex-direction: column;
                } 
                flex-direction: row-reverse;
            }
            &:nth-child(even){
                img{
                    &:hover{
                        rotate: -10deg;
                    }
                }
            }
            div{
                display: flex;
                flex-direction: column;
                justify-content: center;               
                padding: 1rem 2rem;  
                               
                h5{                  
                    margin-bottom: 2%;
                    font-size: 1.8rem; 
                    @include mobile{                       
                        text-align: center;
                        font-size: 1.6rem;
                    }                      
                }
                p{
                    font-size: 1.3rem; 
                    @include mobile{                       
                        margin-top: 1%;
                        text-align: center;
                        font-size: 1.2rem;
                    }                                        
                }            
            }
            img{
                width: 250px;
                margin: auto 1.5rem;
                padding: 2rem;
                transition: 1s;
                @include mobile{                       
                    width: 150px;
                    height: auto;
                    align-self: center;
                }                  
            }           
        }
    }
}