.services-container{       
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    font-family: Rubik;     
    h3{
        text-align: center;          
        font-style: italic;
        font-size: 3rem;          
        letter-spacing: 1px;
        color: rgb(93, 92, 92);
        span:nth-child(2){
            color: $greenColor;
        }
        @include mobile{
            margin-bottom: 10px;           
        }
    }
    hr{
        width: 80%;
        @include mobile{
            width: 100%;
            margin-top: 0;
        }
    }
    .services-wrapper{
        width: 80%;
        display: flex;
        @include laptop{
            width: 95%;
        }
        @include tablet{
            width: 95%;
        }
        @include mobile{
            flex-direction: column;
        }
        .service-card{
            margin-top: 3vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: 0.5s;
            &:hover{
                transform: scale(1.02); 
                img{
                    border-bottom: 4px solid $greenColor;
                }          
            }
            img{
                width: 6vw;
                margin-bottom: 1.3vh;
                padding-bottom: 0.8vh;              
                @include laptop{
                    width: 9vw;
                }
                @include tablet{
                    width: 12vw;
                }
                @include mobile{
                    width: 35vw;
                }
            }
            h4{
                font-size: 1.8rem;
                @include tablet{
                    font-size: 1.6rem;
                }
            }
            p{
                @include tablet{
                    padding-left: 0.8rem;
                    padding-right: 0.8rem;
                    font-size: 1.1rem;
                }
                @include mobile{
                    padding: 0;
                }
                direction: rtl;
                text-align: center;
                font-size: 1.3rem;
                padding-left: 2rem;
                padding-right: 2rem;
            }
        }
    }
}