.services-container{       
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    font-family: Rubik;     
    h3{
        @include mobile{
            margin-bottom: 10px;           
        }
    }
    hr{
        width: 80%;
        @include mobile{
            width: 100%;
            margin-top: 0;
        }
    }
    .services-wrapper{
        width: 80%;
        display: flex;
        gap: 20px;
        @include laptop{
            width: 95%;
        }
        @include tablet{
            width: 95%;
        }
        @include mobile{
            flex-direction: column;
        }
        .service-card{    
            margin-top: 3vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: 0.5s;   
            &:nth-child(2){
                p{
                    border-radius: 53% 47% 47% 53% / 21% 21% 79% 79% ;
                }             
            } 
            &:nth-child(3){  
                p{
                    border-radius: 41% 59% 34% 66% / 23% 47% 53% 77% ;            
                }                          
            }  
            &:hover{
                transform: scale(1.02);                  
            }
            &:hover .img-container::before {              
                transform: scaleX(1);
            }
            .img-container {
                position: relative;
                width: 9.6em;
                margin-bottom: 1vh;
                @include laptop{
                    width: 9vw;
                }
                @include tablet{
                    width: 12vw;
                }
                @include mobile{
                    width: 35vw;
                }
                &::before{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 5px;
                    background-color: $greenColor;
                    bottom: 0;
                    left: 0;
                    transform: scaleX(0);
                    transition: transform .3s ease-in-out;
                }
                img{
                    position: relative;
                    width: 9.6em;            
                    padding-bottom: 1.8vh;       
                    @include laptop{
                        width: 9vw;
                    }
                    @include tablet{
                        width: 12vw;
                    }
                    @include mobile{
                        width: 35vw;
                    }
                }
            }         
            h4{
                font-size: 1.8rem;
                @include tablet{
                    font-size: 1.6rem;
                }
            }
            p{                            
                text-align: center;
                font-size: 1.2rem;
                padding-left: 2rem;
                padding-right: 2rem;
                background-color: rgba($color: $greenColor, $alpha: 0.3);
                border-radius: 73% 27% 79% 21% / 53% 11% 89% 47% ;            
                @include tablet{
                    padding-left: 0.8rem;
                    padding-right: 0.8rem;
                    font-size: 1.1rem;
                }
                @include mobile{
                    padding: 0;
                }
            }
        }       
    }
}