@import './base.scss';
@import './header.scss';
@import './carousel.scss';
@import './about.scss';
@import './treatments.scss';
@import './services.scss';
@import './products.scss';
@import './gallery.scss';
@import './footer.scss';

.site-container{
    position: relative;
    @include mobile{
        overflow-x: hidden;
    }
    
    .leaf{
        position: absolute;      
        width: 17vw;
    }
    #leaf1{
        width: 13vw;
        top: 25%;
        right: 1.7%;
    }
    #leaf2{
        width: 21vw;
        top: 33.5%;
        left: -4.6%;
        rotate: -21deg;
    }
    
    .whatsapp-icon{
        position: fixed;
        right: 0.5%;
        bottom: 1.5%;
        width: 65px;
        transition: 0.3s;
        cursor: pointer;
        z-index: 999;
        &:hover{
            transform: scale(1.2);
        }
        @include mobile{
            right: 2%;
            bottom: 1.5%;
            width: 55px;
        }
    }
}